<h1> Create a new Lesson </h1>

<% if @lesson.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons/<%= @lesson.id %>" method="post">
  <label for="lesson_name">Lesson Name</label>
  <input id="lesson_name" name="lesson[name]" type="text" value="<%= @lesson.name %>">
  <label for="lesson_number">Lesson Number</label>
  <input id="lesson_number" name="lesson[lesson_number]" type="integer" value="<%=@lesson.lesson_number %>">
  <br></br>
  <label for='section_num'>Section Name</label>
  <select id='section_num' name='lesson[section_id]'>
    <% @sections.each do |section| %>
      <option value='<%= section.name %>'><%= section.name %></option>
    <% end %>
  </select>
  <label for="content">Lesson Content</label>
  <input id="content" name="lesson[content]" type="text" value="<%=@lesson.content%>">
  <br></br>
  <button class="btn btn-success">Create Lesson</button>
  <br></br>
</form>
  <p><a href='/lessons' class='btn btn-primary'>Return to Lesson Homepage</a></p>
